@media print {
    @page {
        size: A4;
        margin-top: 2.5cm;
        margin-bottom: 2.5cm;
        border: 1px solid #000000;
    }

    body {
        margin-left: 2.5cm;
        margin-right: 2.5cm;
        background-color: #FFFFFF;
        font-size: 12pt;
        font-family: "Times New Roman", serif;
    }

    a.headerlink {
        color: #fff !important;
        display: none !important;
    }

    .admonition-todo ul {
        display: none;
    }

    a,
    a:link,
    a:visited,
    a:active,
    a:hover {
        color: black !important;
        text-decoration: none !important;
        font-weight: bold !important;
    }

    div[role="navigation"] { display: none; }
    div.pagebreak { page-break-after: always; }
    h1 { page-break-after: avoid; }
    h2 { page-break-after: avoid; }
    h3 { page-break-after: avoid; }
    h4 { page-break-after: avoid; }
    h5 { page-break-after: avoid; }
    h6 { page-break-after: avoid; }

    img {page-break-after: avoid;}
    caption {page-break-before: avoid; font-size: 1rem;}
}
